/LeitorPensamento/nbproject/private/
/LeitorPensamento/build/
/CalculoMedia/nbproject/private/
/CalMedia/nbproject/private/
/CalMedia/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParouImpar/nbproject/private/
/ProgramaParouImparSwing/nbproject/private/
/ProgramaParouImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/