/LeitorPensamento/nbproject/private/
/LeitorPensamento/build/
/CalculoMedia/nbproject/private/
/CalMedia/nbproject/private/
/CalMedia/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParouImpar/nbproject/private/
/ProgramaParouImparSwing/nbproject/private/
/ProgramaParouImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/TestoTexto/nbproject/private/
/TestoTexto/build/
/ContPrincipal/nbproject/private/
/ContPrincipal/build/
/Contador)2/nbproject/private/
/Contador02/nbproject/private/
/Contador002/nbproject/private/
/Contador002/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/ExercicioRepita/dist/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/MostraMesDia/nbproject/private/
/MostraMesDia/build/
/ExercicioVetor03/nbproject/private/
/ExercicioVetor03/build/
/VetorBuscaBinaria/nbproject/private/
/VetorBuscaBinaria/build/
/VetorMesmorValor/nbproject/private/
/VetorMesmorValor/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TesteFuncao_01/nbproject/private/
/TesteFuncao_01/build/
/TesteFuncao_02/nbproject/private/
/TesteFuncao_02/build/
/TesteFuncao_02/dist/
/Funcao_01/nbproject/private/
/Funcao_01/build/
/Funcao_02/nbproject/private/
/Funcao_02/build/
/JavaApplication63/nbproject/private/
/JavaApplication63/build/
/JavaApplication64/nbproject/private/
/JavaApplication64/build/